flask
flask-login
flask-sqlalchemy
werkzeug
gunicorn
Pillow
img2pdf
PyMuPDF
pillow-heif
cairosvg
pdf2docx
markdown2
markdown
python-docx
xhtml2pdf
moviepy
decorator
pandas
openpyxl
python-whois
requests
holidays
APScheduler
yt-dlp
imageio-ffmpeg
numpy
opencv-python-headless
spacy
